extends layout
block content
  .authpage
  .text-center
    form.form-signin
      h1.h3.mb-3.font-weight-normal Авторизация 
      label.sr-only(for="inputEmail") Адрес электронной почты
      input#inputEmail.form-control(type="email" placeholder="Адрес электронной почты" required="" autofocus="")
      label.sr-only(for="inputPassword") Пароль
      input#inputPassword.form-control(type="password" placeholder="Пароль" required="")
      .checkbox.mb-3
       // label
          input(type="checkbox" value="remember-me")
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Войти