extends layout

block content
  p
    .image-block.text-center
      img#sad-smile(src='/images/sad.png')
    h1.error-text.err-num= errStat
    h2.error-text= errMsg
  pre.text-center #{error.stack}
