extends layout

block content
  main(role="main").text-center
    #myCarousel.carousel.slide(data-ride="carousel")
    .carousel-inner
      .carousel-item.active
        img.first-slide(src="/images/162204.jpg" alt="First slide")
        .container
          .carousel-caption.text-left
            h1 Реестр задолженностей
            p
              | Данный сервис предоставляет Вам возможность просмотреть задолженности<br>
              | по услугам, неоплаченным в Системе компании
            p
              a.btn.btn-lg.btn-primary(href="/debts" role="button") Попробовать сейчас
    .container
      p
        hr
      .row
        .col-md-4
          h2 Доступность
          p
            | Разработанное, как для отдельных, так и для корпоративных пользователей.
          p
        .col-md-4
          h2 Универсальность
          p
            | Подходит для разнообразных видов финансовой деятельности, включая коммерческую деятельность и любые другие случаи, когда необходимо отслеживание и управление денежными ресурсами.
          p
        .col-md-4
          h2 Многофункциональность
          p
            | Данный сервис предоставляет Вам возможность просмотреть задолженность по услугам, неоплаченных в Системе компании.
          p
      hr
    p 
      <a href="https://bitbucket.org/vabsoluter/megajs" class="badge badge-primary">исходный код</a>