extends layout
block content
  .authpage
  .text-center
    form.form-signin(role='form', action="/register",method="post")
      h1.h3.mb-3.font-weight-normal Регистрация 
      label.sr-only(for="inputEmail") Адрес электронной почты
      input#inputEmail.form-control(type="email" name="username" placeholder="Адрес электронной почты" required="" autofocus="")
      label.sr-only(for="inputPassword") Пароль
      input#inputPassword.form-control(type="password" name="password" placeholder="Пароль" required="")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Зарегистрироваться